html, body {
  height: 100%;
  width: 100%;

  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 13px;
  font-weight: normal;
}

#root {
  height: 100%;
  padding: 5em;
}

/* canvas {
  border: 1px solid black;
} */